/* 
SHORTCUTS TO SECTIONS
use search and put:
"smartphone" for the beginning of screens less than 767px section
"tablets" for the beginning of screens more than 768px but less than 991px section
"desktop" for the beginning of screens more than 992px section
*/

* {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}


/*--------------Menu header--------------*/

header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style-type: none;
    text-align: right;
}

nav li {
    margin-right: 20px;
}

nav li:last-child a {
    font-weight: bold;
    color: #0065FC;
}

nav li a {
    color: #000;
    text-decoration: none;
}

nav a:hover {
    border-top: 4px solid #0065FC;
    color: #0065FC;
    padding-top: 30px;
}

nav a:focus {
    border-top: 4px solid #0065FC;
    color: #0065FC;
    padding-top: 30px;
}


/*--------------media queries smartphones--------------*/

@media screen and (max-width: 767px) {
    body {
        width: 100%;
    }
    /*--------------MENU nav--------------*/
    nav {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    header {
        flex-wrap: wrap;
    }
    header img {
        padding-left: 20px;
    }
    nav ul {
        flex-wrap: wrap;
        padding: 0;
        text-align: center;
    }
    /*--------------MENU hebergement--------------*/
    header li:nth-child(1) {
        order: 2;
        width: 50%;
        margin: 0;
        padding: 0;
        border-bottom: 3px solid #f2f2f2;
        padding-bottom: 10px;
    }
    header li:nth-child(1):hover {
        border-bottom: 3px solid #0065FC;
    }
    header a:nth-child(1):hover {
        color: #0065FC;
    }
    /*--------------MENU activites--------------*/
    header li:nth-child(2) {
        order: 3;
        width: 50%;
        margin: 0;
        padding: 0;
        border-bottom: 3px solid #f2f2f2;
        padding-bottom: 10px;
    }
    header li:nth-child(2):hover {
        border-bottom: 3px solid #0065FC;
    }
    header a:nth-child(2):hover {
        color: #0065FC;
    }
    /*--------------MENU sinscrire--------------*/
    header li:nth-child(3) {
        margin-top: -45px;
        right: 0;
        padding: 0;
        order: 1;
        position: absolute;
        font-weight: bold;
        color: #0065FC;
    }
    /*--------------containers et items de la barre de recherche--------------*/
    main .search_description h1 {
        font-weight: 800;
        font-size: 130%;
        text-align: left;
        margin-top: 5px;
        width: 80%;
        margin-left: 35px;
    }
    main .search_description h2 {
        font-weight: 400;
        font-size: 95%;
        margin-top: 0;
        margin-left: 35px;
    }
    .search_bar {
        display: flex;
        margin-top: 15px;
        justify-content: center;
    }
    .background_logo_search {
        display: flex;
        background-color: #F2F2F2;
        height: 50px;
        width: 55px;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
    .fa-map-marker-alt {
        margin: auto;
    }
    #site-search {
        border: 1px solid #F2F2F2;
        font-weight: 800;
        font-size: 100%;
        padding-left: 1rem;
        font-family: 'raleway';
    }
    .rechercher {
        margin-left: -10px;
        display: flex;
        background-color: #0065FC;
        color: white;
        font-weight: 600;
        border-radius: 0.9rem;
        height: 50px;
        width: 50px;
        padding: 1rem;
    }
    .boutton {
        display: none;
    }
    /*--------------containers et items filtres--------------*/
    .filters h4 {
        margin-left: 33px;
        margin-top: 30px;
        font-size: 110%;
        font-weight: 800;
    }
    .filters figure {
        display: inline-block;
        margin-top: 0;
        margin-left: 30px;
        border: 2px solid #F2F2F2;
        border-radius: 2rem;
        height: 50px;
        margin-bottom: 10px;
        margin-right: -15px;
    }
    .filters figure {
        transition: 0.2s;
    }
    .filters figure:hover {
        transform: scale(1.2);
    }
    .filters .fa-money-bill-wave {
        background-color: #DEEBFF;
        color: #0065FC;
        border-radius: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 13px;
        padding-right: 13px;
    }
    .filters .fa-child {
        background-color: #DEEBFF;
        color: #0065FC;
        border-radius: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 17px;
        padding-right: 17px;
    }
    .filters .fa-heart {
        background-color: #DEEBFF;
        color: #0065FC;
        border-radius: 100%;
        padding: 15px;
    }
    .filters .fa-dog {
        background-color: #DEEBFF;
        color: #0065FC;
        border-radius: 100%;
        padding: 15px;
    }
    .filters figcaption {
        margin-top: -35px;
        margin-left: 55px;
        padding-right: 16px;
        font-weight: 800;
        font-size: 90%;
    }
    /*--------------info nombre logements--------------*/
    .info figcaption {
        font-weight: 400;
        margin-left: 50px;
        width: 80%;
        margin-top: -25px;
        font-size: 95%;
        display: absolute;
    }
    .info .fas {
        display: absolute;
        color: #0065FC;
        border: 2px solid #F2F2F2;
        font-size: 70%;
        border-radius: 100%;
        padding-right: 0.45rem;
        padding-left: 0.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.30rem;
        margin-top: 0.8rem;
        margin-left: 15px;
    }
    /*--------------section hebergements et populaires--------------*/
    section {
        display: flex;
        flex-direction: column-reverse;
    }
    /*--------------les plus populaires--------------*/
    aside {
        margin-top: 2em;
        background-color: #F2F2F2;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    #popchart {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 15px;
        margin-right: 10px;
    }
    aside h1 {
        font-size: x-large;
    }
    #popchart .fas {
        margin-top: 30px;
        margin-right: 5px;
    }
    aside #vignettes {
        margin-left: -27px;
    }
    aside figure {
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 10px;
        margin-top: 0px;
        margin-bottom: 1em;
        width: 86%;
        height: 125px;
        padding: 0.3em;
        box-shadow: 1px 1px 10px #c9c9c9;
    }
    aside img {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 40%;
        object-fit: cover;
    }
    aside figcaption p {
        margin-top: -10px;
    }
    aside figcaption .fa-star {
        margin-top: 15px;
    }
    aside figcaption {
        margin-top: -15px;
        margin-left: 0.5em;
        font-size: 90%;
    }
    /*--------------hebergements a marseille--------------*/
    a {
        text-decoration: none;
    }
    #hebergements a {
        color: #000;
    }
    #hebergements {
        width: 100%;
        margin-top: 10px;
    }
    #hebergements #vignettes {
        margin-left: -23px;
    }
    #hebergements figure {
        flex-direction: row;
        background-color: white;
        border-radius: 10px;
        margin-top: 0px;
        margin-bottom: 20px;
        width: 86%;
        height: 180px;
        box-shadow: 1px 1px 5px #c9c9c9;
        padding-bottom: 5px;
    }
    #hebergements img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height: 60%;
        object-fit: cover;
    }
    #hebergements h1 {
        font-size: large;
        margin-left: 15px;
    }
    #hebergements h2 {
        font-size: large;
        margin-left: 18px;
    }
    #hebergements figcaption {
        margin-top: -20px;
        margin-left: 0.5em;
        font-size: 90%;
    }
    #hebergements p {
        font-size: small;
        margin-top: -15px;
    }
    .fa-star {
        color: #0065FC;
    }
    .grey {
        color: #F2F2F2;
    }
    /*--------------activites--------------*/
    #activites {
        width: 100%;
    }
    #activites h1 {
        font-weight: 600;
        font-size: x-large;
        margin-top: 20px;
        margin-left: 20px;
    }
    #activites figure {
        margin-left: 20px;
        border-radius: 10px;
        box-shadow: 1px 1px 10px #c9c9c9;
        width: 90%;
        height: 175px;
    }
    #activites figcaption {
        font-weight: 800;
        margin-left: 15px;
        margin-top: 1em;
    }
    #activites img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height: 70%;
        object-fit: cover;
    }
    #double figure {
        height: 175px;
        flex-direction: column;
    }
    #double figure img {
        height: 70%;
    }
    /*--------------footer--------------*/
    footer {
        margin-top: 40px;
        background-color: #F2F2F2;
        width: 110%;
        margin-left: -10px;
    }
    footer figure h2 {
        font-size: x-large;
    }
    footer figure figcaption {
        font-size: large;
        padding-bottom: 30px;
    }
}


/*--------------media queries tablets--------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        width: 100%;
    }
    /*--------------MENU nav--------------*/
    nav {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    header {
        flex-wrap: wrap;
    }
    header img {
        padding-left: 20px;
    }
    nav ul {
        flex-wrap: wrap;
        padding: 0;
        text-align: center;
    }
    /*--------------MENU hebergement--------------*/
    header li:nth-child(1) {
        order: 2;
        width: 50%;
        margin: 0;
        padding: 0;
        border-bottom: 3px solid #f2f2f2;
        padding-bottom: 10px;
    }
    header li:nth-child(1):hover {
        border-bottom: 3px solid #0065FC;
    }
    header a:nth-child(1):hover {
        color: #0065FC;
    }
    /*--------------MENU activites--------------*/
    header li:nth-child(2) {
        order: 3;
        width: 50%;
        margin: 0;
        padding: 0;
        border-bottom: 3px solid #f2f2f2;
        padding-bottom: 10px;
    }
    header li:nth-child(2):hover {
        border-bottom: 3px solid #0065FC;
    }
    header a:nth-child(2):hover {
        color: #0065FC;
    }
    /*--------------MENU sinscrire--------------*/
    header li:nth-child(3) {
        margin-top: -45px;
        margin-left: 650px;
        order: 1;
        position: absolute;
        font-weight: bold;
        color: #0065FC;
    }
    /*--------------containers et items de la barre de recherche--------------*/
    main .search_description h1 {
        font-weight: 800;
        font-size: 130%;
        text-align: center;
        margin-left: 15px;
    }
    main .search_description h2 {
        font-weight: 400;
        font-size: 95%;
        margin-top: 0.2rem;
        margin-left: 15px;
        text-align: center;
    }
    .search_bar {
        display: flex;
        margin-top: 1.5rem;
        margin-right: 20px;
        margin-left: 170px;
    }
    .background_logo_search {
        display: flex;
        background-color: #F2F2F2;
        height: 50px;
        width: 55px;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
    .fa-map-marker-alt {
        margin: auto;
    }
    #site-search {
        order: 1px solid #F2F2F2;
        font-weight: 800;
        font-size: 100%;
        padding-left: 1rem;
        padding-right: 5rem;
        font-family: 'raleway';
    }
    .rechercher {
        margin-left: -10px;
        display: flex;
        background-color: #0065FC;
        color: white;
        font-weight: 600;
        border-top-right-radius: 0.9rem;
        border-bottom-right-radius: 0.9rem;
        height: 50px;
        padding: 1rem;
    }
    .rechercher .fa-search {
        display: none;
    }
    .boutton {
        display: unset;
    }
    /*--------------containers et items filtres--------------*/
    .filters h4 {
        margin-left: 23px;
        font-size: 110%;
        font-weight: 800;
    }
    .filters figure {
        display: inline-block;
        margin-left: 20px;
        border: 2px solid #F2F2F2;
        border-radius: 2rem;
        height: 50px;
        margin-bottom: 0px;
        margin-right: 0px;
        transition: 0.2s;
    }
    .filters figure:hover {
        transform: scale(1.2);
    }
    .filters .fa-money-bill-wave {
        background-color: #DEEBFF;
        color: #0065FC;
        border-radius: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 13px;
        padding-right: 13px;
    }
    .filters .fa-child {
        background-color: #DEEBFF;
        color: #0065FC;
        border-radius: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 17px;
        padding-right: 17px;
    }
    .filters .fa-heart {
        background-color: #DEEBFF;
        color: #0065FC;
        border-radius: 100%;
        padding: 15px;
    }
    .filters .fa-dog {
        background-color: #DEEBFF;
        color: #0065FC;
        border-radius: 100%;
        padding: 15px;
    }
    .filters figcaption {
        margin-top: -35px;
        margin-left: 55px;
        padding-right: 13px;
        font-weight: 800;
        font-size: 90%;
    }
    /*--------------info nombre logements--------------*/
    .info {
        margin-left: 20px;
        margin-top: 20px;
    }
    .info figcaption {
        font-weight: 400;
        margin-left: 30px;
        margin-top: -25px;
        font-size: 95%;
        display: absolute;
    }
    .info .fas {
        display: absolute;
        color: #0065FC;
        border: 2px solid #F2F2F2;
        font-size: 70%;
        border-radius: 100%;
        padding-right: 0.45rem;
        padding-left: 0.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.30rem;
        margin-top: 0.8rem;
        margin-left: 3px;
    }
    /*--------------section hebergements et populaires--------------*/
    section {
        margin-top: 20px;
    }
    /*--------------hebergements a marseille--------------*/
    a {
        text-decoration: none;
    }
    #hebergements a {
        color: #000;
    }
    #hebergements {
        margin-top: 20px;
        width: 100%;
        background-color: #F2F2F2;
        border-radius: 10px;
    }
    #hebergements #vignettes {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
    }
    #hebergements figure {
        background-color: white;
        border-radius: 10px;
        width: 300px;
        height: 250px;
        box-shadow: 1px 1px 5px #c9c9c9;
    }
    #hebergements img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height: 60%;
        object-fit: cover;
    }
    #hebergements h1 {
        font-size: large;
        text-align: center;
        margin-left: 5px;
    }
    #hebergements h2 {
        font-size: medium;
        margin-left: 40px;
        margin-bottom: 30px;
    }
    #hebergements figcaption {
        margin-top: -5px;
        font-size: 90%;
        text-align: center;
    }
    #hebergements p {
        font-size: small;
        margin-top: -15px;
        text-align: center;
    }
    .fa-star {
        color: #0065FC;
    }
    .grey {
        color: #F2F2F2;
    }
    /*--------------les plus populaires--------------*/
    aside {
        margin-top: 2em;
        background-color: #F2F2F2;
        width: 100%;
        padding-bottom: 30px;
    }
    #popchart {
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    aside h1 {
        font-size: x-large;
        margin-left: 30%;
    }
    #popchart .fas {
        margin-top: 30px;
        margin-left: 5%;
    }
    aside #vignettes {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin-left: 10%;
    }
    aside figure {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 10px;
        width: 90%;
        height: 250px;
        box-shadow: 1px 1px 10px #c9c9c9;
    }
    aside img {
        width: 100%;
        height: 80%;
        object-fit: cover;
    }
    aside figcaption h3 {
        margin-left: 15px;
        font-size: medium;
    }
    aside figcaption p {
        margin-left: 10px;
        margin-right: 20px;
        font-size: small;
        margin-top: 19px;
    }
    aside figcaption .fa-star {
        margin-top: 15px;
    }
    aside figcaption br {
        display: none;
    }
    aside figcaption {
        display: flex;
        justify-content: center;
    }
    /*--------------activites--------------*/
    #activites {
        width: 100%;
    }
    #activites h1 {
        font-weight: 600;
        font-size: x-large;
        margin-top: 30px;
        text-align: center;
    }
    #activites #vignettes {
        margin-top: 30px;
        margin-left: 60px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    #activites figure {
        margin-left: 0px;
        border-radius: 10px;
        box-shadow: 1px 1px 10px #c9c9c9;
        width: 300px;
        height: 175px;
    }
    #double figure {
        width: 300px;
    }
    #activites #double {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    #activites figcaption {
        font-weight: 800;
        margin-top: 1em;
        text-align: center;
    }
    #activites img {
        width: 100%;
        height: 70%;
        object-fit: cover;
    }
    #double figure {
        height: 175px;
        flex-direction: column;
    }
    #double figure img {
        height: 70%;
    }
    #activites #vignettes figure:nth-child(1) {
        order: 3;
    }
    #activites #vignettes #double:nth-child(2) {
        order: 1;
    }
    #activites #vignettes figure:nth-child(3) {
        order: 4;
    }
    #activites #vignettes #double:nth-child(4) {
        order: 2;
    }
    /*--------------footer--------------*/
    footer {
        margin-top: 30px;
        background-color: #F2F2F2;
        padding-bottom: 30px;
    }
    .container_footer {
        display: flex;
        justify-content: center;
    }
    footer figure {
        margin-left: 5px;
    }
    footer figure h2 {
        font-size: x-large;
        text-align: center;
    }
    footer figure figcaption {
        font-size: medium;
        text-align: center;
    }
}


/*--------------media queries desktop--------------*/

@media only screen and (min-width: 992px) {
    body {
        font-family: 'Raleway', sans-serif;
        margin-left: auto;
        margin-right: auto;
        margin-top: -2rem;
        width: 99%;
    }
    header {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
    }
    /*--------------Menu header--------------*/
    nav ul {
        display: flex;
        font-weight: 600;
        color: #0065FC;
        text-decoration: none;
        list-style-type: none;
    }
    nav li {
        margin: 10px;
    }
    nav li a {
        color: black;
        padding-left: 15px;
        padding-right: 15px;
    }
    nav a:hover {
        border-top: 2px solid #0065FC;
        padding-top: 60px;
        color: #0065FC;
    }
    main {
        padding-top: 1.5rem;
    }
    nav a {
        text-decoration: none;
        color: #0065FC;
    }
    /*--------------containers et items recherche--------------*/
    main .search_description h1 {
        font-weight: 800;
        font-size: 140%;
    }
    main .search_description h2 {
        font-weight: 400;
        font-size: 105%;
        margin-top: 0.2rem;
    }
    .search_bar {
        display: flex;
        margin-top: 1.5rem;
    }
    .background_logo_search {
        display: flex;
        background-color: #F2F2F2;
        height: 3rem;
        width: 3rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
    .fa-map-marker-alt {
        margin: auto;
    }
    .fa-search {
        display: none;
    }
    #site-search {
        border: 1px solid #F2F2F2;
        font-weight: 800;
        font-size: 120%;
        padding-left: 1rem;
        padding-right: 2rem;
        font-family: 'raleway';
    }
    .rechercher {
        background-color: #0065FC;
        color: white;
        font-weight: 600;
        border-top-right-radius: 0.7rem;
        border-bottom-right-radius: 0.7rem;
        height: 3rem;
        width: 8em;
    }
    .boutton {
        display: flex;
        padding: 1rem;
        font-size: 100%;
    }
    /*--------------containers et items filtres--------------*/
    .filters {
        display: flex;
        margin-top: 20px;
    }
    .filters h4 {
        margin-top: 30px;
        font-size: 110%;
        font-weight: 800;
    }
    .filters figure {
        display: flex;
        flex-direction: row;
        border: 2px solid #F2F2F2;
        border-radius: 2rem;
        margin-right: -15px;
        transition: 0.2s;
    }
    .filters figure:hover {
        transform: scale(1.2);
    }
    .filters .fas {
        background-color: #DEEBFF;
        color: #0065FC;
        border-radius: 100%;
        padding: 15px;
    }
    .filters figcaption {
        font-weight: 800;
        font-size: 110%;
        margin-left: 15px;
        padding-right: 20px;
        margin-top: 13px;
    }
    /*--------------info nombre logements--------------*/
    .info figcaption {
        font-weight: 400;
        margin-left: 35px;
        margin-top: -20px;
        font-size: 100%;
        display: absolute;
    }
    .info .fas {
        display: absolute;
        color: #0065FC;
        border: 2px solid #F2F2F2;
        font-size: 70%;
        border-radius: 100%;
        padding-right: 0.45rem;
        padding-left: 0.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.30rem;
        margin-top: 0.8rem;
        margin-left: 3px;
    }
    /*--------------section hebergements et populaires--------------*/
    section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    /*--------------hebergements a marseille--------------*/
    a {
        text-decoration: none;
    }
    #hebergements a {
        color: #000;
    }
    #hebergements {
        margin-top: 25px;
        width: 65%;
        background-color: #F2F2F2;
        border-radius: 10px;
        padding-right: 30px;
    }
    #hebergements #vignettes {
        margin-top: 20px;
        margin-left: -17px;
        display: flex;
        flex-wrap: wrap;
    }
    #hebergements figure {
        background-color: white;
        border-radius: 10px;
        width: 27%;
        height: 200px;
        box-shadow: 1px 1px 5px #c9c9c9;
        margin-right: 0;
    }
    #hebergements img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height: 60%;
        object-fit: cover;
    }
    #hebergements h1 {
        font-size: x-large;
        text-align: left;
        margin-left: 20px;
        margin-top: 30px;
    }
    #hebergements h2 {
        font-size: large;
        text-align: left;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    #hebergements figcaption {
        margin-top: -15px;
        margin-left: 10px;
        font-size: 100%;
    }
    #hebergements h4 {
        margin-bottom: -13px;
    }
    #hebergements p {
        margin-bottom: 5px;
    }
    .fa-star {
        color: #0065FC;
    }
    .grey {
        color: #F2F2F2;
    }
    #hebergements #vignettes figure:nth-child(1) {
        order: 1;
    }
    #hebergements #vignettes figure:nth-child(2) {
        order: 2;
    }
    #hebergements #vignettes figure:nth-child(3) {
        order: 3;
    }
    #hebergements #vignettes figure:nth-child(4) {
        order: 4;
    }
    #hebergements #vignettes figure:nth-child(5) {
        order: 5;
    }
    #hebergements #vignettes figure:nth-child(6) {
        order: 6;
    }
    /*--------------les plus populaires--------------*/
    aside {
        margin-top: 25px;
        background-color: #F2F2F2;
        width: 30%;
        border-radius: 10px;
    }
    #popchart {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 20px;
    }
    aside h1 {
        font-size: x-large;
    }
    #popchart .fa-chart-line {
        margin-top: 30px;
        margin-right: 20px;
    }
    aside #vignettes {
        display: flex;
        flex-direction: column;
        width: 90%;
        vertical-align: middle;
    }
    aside figure {
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 10px;
        margin-left: 20px;
        width: 100%;
        height: 140px;
        box-shadow: 1px 1px 10px #c9c9c9;
        padding: 4px;
    }
    aside img {
        width: 40%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        object-fit: cover;
    }
    aside figcaption h3 {
        font-size: medium;
    }
    aside figcaption p {
        font-size: small;
    }
    aside figcaption .fa-star {
        margin-top: 20px;
        font-size: small;
    }
    aside figcaption br {
        display: unset;
    }
    aside figcaption {
        margin-left: 20px;
    }
    aside #vignettes figure:nth-child(1) {
        order: 1;
    }
    aside #vignettes figure:nth-child(2) {
        order: 2;
    }
    aside #vignettes figure:nth-child(3) {
        order: 3;
    }
    /*--------------activites--------------*/
    #activites {
        width: 100%;
    }
    #activites h1 {
        font-weight: 600;
        font-size: x-large;
        margin-top: 40px;
        margin-left: 15px;
    }
    #activites #vignettes {
        display: flex;
        flex-direction: row;
    }
    #activites figure {
        margin-left: 10px;
        border-radius: 10px;
        box-shadow: 1px 1px 10px #c9c9c9;
        width: 39%;
        height: 175px;
    }
    #double figure {
        width: 100%;
    }
    #activites #double {
        width: 91%;
        display: flex;
        flex-direction: row;
    }
    #activites figcaption {
        font-weight: 800;
        margin-top: 1em;
        text-align: center;
    }
    #activites img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    #double figure {
        height: 175px;
        flex-direction: column;
    }
    #double figure img {
        height: 70%;
    }
    #activites #vignettes figure:nth-child(1) {
        order: 3;
    }
    #activites #vignettes #double:nth-child(2) {
        order: 1;
    }
    #activites #vignettes figure:nth-child(3) {
        order: 4;
    }
    #activites #vignettes #double:nth-child(4) {
        order: 2;
    }
    /*--------------footer--------------*/
    footer {
        margin-top: 30px;
        background-color: #F2F2F2;
    }
    .container_footer {
        display: flex;
        justify-content: center;
    }
    footer figure {
        margin-left: 5px;
    }
    footer figure h2 {
        font-size: x-large;
        text-align: center;
    }
    footer figure figcaption {
        font-size: medium;
        text-align: center;
    }
}