body
{
    font-family: 'Raleway', sans-serif;
    margin-left: 2em;
}
header
{    
    display: flex; 
    justify-content: space-between;
}
/*--------------Menu header--------------*/
nav ul
{        
    font-weight: 600;
    color: #0065FC ;
    text-decoration: none;
    list-style-type: none;    
}
nav li
{
    margin: 10px;
    display: inline;
}
nav li a
{
    color:black;
    padding-left: 15px;
    padding-right: 15px;
    
}
nav a:hover
{
    border-top: 2px solid #0065FC;
    padding-top: 20px;
    color: #0065FC;
}
main
{
    margin: 0em;
    padding-top: 1.5em;    
}
a
{
    text-decoration: none;
    color: #0065FC;
}
/*--------------containers et items recherche--------------*/
main .search_description h1
{    
    font-weight: 800;
    font-size: large;
}
main .search_description h2
{    
    font-weight: 400;
    font-size: small;
    margin-top: 0.2em;
}
.search_bar
{    
    display: flex;
    margin-top: 1.1em;    
}
.background_logo_search
{
    display: flex;
    background-color: #F2F2F2;
    height: 2.5em;   
    width: 2.5em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}
.fa-map-marker-alt
{
    margin: auto;
}
#site-search
{
    border: 1px solid #F2F2F2;
    font-weight: 800;
    padding-left: 1em;
}
.rechercher
{      
    background-color: #0065FC;
    color: white;
    font-weight: 600;    
    border-top-right-radius: 0.7em;
    border-bottom-right-radius: 0.7em;  
    height: 2.5em;  
    width: 6.5em;
}
.boutton
{
    display: flex;
    padding: 0.4em ;  
    font-size: small;  
    margin-top: 0.5em;  
    margin-left: 0.7em;  
}
/*--------------containers et items filtres--------------*/
.filters
{    
    display: flex;
    margin-top: 1.5em;
}
.filters h4
{
    margin-top: 1.7em;
}
.filters figure
{
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 2em;
    padding-right: 1em;
    
}
.filters figure:hover
{
    transform: scale(1.2);
    transition: transform .2s;
}
.filters .fas
{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 2em;
    padding: 10px;
}
.filters figcaption
{
    margin-top: 9px;
    margin-left: 10px;
    font-weight: 800;
}
/*--------------info nombre logements--------------*/
.info figcaption 
{
    font-weight: 400;
    margin-left: 1em;
    margin-top: 0.2em;
}
.info
{
    display: flex;
}
.info .fas
{
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 100%;
    padding-right: 0.75em;
    padding-left: 0.75em;
    padding-top: 0.40em;
    padding-bottom: 0.40em;
    font-size: 75%;
}
section
{
    display: flex;
}
/*--------------containers item left--------------*/
#hebergements
{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 1em;
}
#hebergements #vignettes
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#hebergements article
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 3em;

}
#hebergements figure
{
    background-color: white;
    border-radius: 2em;
    margin-left: 0em ;
    padding: 0.3em;
    height: auto;
    box-shadow: 1px 1px 10px #c9c9c9;
}
#hebergements img
{
    width: 20em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    height: 10em;
}
#hebergements h1
{
    margin-top: 2em;
    margin-left: 1.5em;
}
#hebergements h2
{
    margin-left: 1.5em;
}
#hebergements figcaption
{
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: -0.5em;
}
.fa-star
{
    color: #0065FC;
}
.grey
{
    color: #F2F2F2;
}
/*--------------containers item right--------------*/
#populaires 
{
    margin-top: 2em;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 1em;
}
#populaires #vignettes
{
    display: flex;
    flex-direction: column;
}
#populaires figure
{
    background-color: white;
    border-radius: 2em;
    margin-left: 0em ;
    padding: 0.3em;
    height: auto;
    box-shadow: 1px 1px 10px #c9c9c9;
}
#populaires img
{
    width: 20em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    height: 10em;
}
#populaires h1
{
    margin-top: 2em;
    margin-left: 1.5em;
}
#populaires figcaption
{
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: -0.5em;
}